.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #b91c1c;
  text-align: center;
  margin-bottom: 0.5rem;
  /* width: 100%; */
}
.graph-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(31, 137, 230); */
}

.graph{
  display: flex;
  flex-direction: column;
  padding:1rem;
  /* background-color: rgb(255, 0, 0); */
  width: 45%;
}